<div id="main" class="w-2/4 m-auto h-screen bg-green-200" >

  <header class="text-center font-semibold underline text-xl ">Projeto Angular</header>
  <nav class="flex gap-2 text-center my-3 justify-center h-10">
    <a routerLink="/" class="bg-orange-300 rounded-full w-12 h-fit hover:border border-black my-auto">Home</a><br/>
    <a routerLink="/list" class="bg-orange-300 rounded-full w-12 h-fit hover:border border-black my-auto">Lista</a>
  
  </nav>
  
  <router-outlet />
  <footer>footer</footer>
</div>

<!-- 
<app-directives />
<app-if-render />
<app-eventos />
<app-emitter />
<app-list-render/>
<app-two-way-biding/> -->
